* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;

}
.container {
    background-color: #569DAA;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.music-player {
    width: 300px;
    height: 500px;
   
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;
    background-image: url(/drakefondo.jpg)  ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    
}

@keyframes zoom {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
}
.music-player h2{
    color: #fafafa;
}
.music-player p {
    color: #fafafa;
}
.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(2px);
    align-items: center;
    border-bottom: 1px solid #fafafa38;
    
}
.nav {
    
    height: 40px;
    width: 40px;
    color: #fafafa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;

}
.nav1{
    
    height: 70px;
    width: 70px;
    font-size: 30px;
    color:#fafafa;
    
}
.nav2{
    
    height: 70px;
    width: 70px;
    font-size: 40px;
    color: #fafafa;
    
}

.circle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.music-player img {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    
}

#progress {
    -webkit-appearance: none;
    width: 70%;
    height: 6px;
    background: ;
    border-radius: 4px;
    cursor:pointer;
    
}  

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #569DAA ;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
    

}
.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
    width: 100%;
    height: 50px;
}
.controls-bottom {
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 100%;
    height: 30px;
    color: #fafafa;
    
}
.controls-bottom i {
    font-size: 15px;
    padding-left: 12px;
    padding-bottom: 12px;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(2px);
    justify-content: space-around;
    height: 120px;
    border-top: 1px solid #fafafa38;
    
    
}
.footer input{
    margin-top: 11px;
}

@media (max-width: 650px) {

    .music-player {
        width: 100%;
        height: 100%;
    }
    
    .header {
        height: 15%;
    }
    .nav {
        font-size: 40px;
    }
    
   .music-player img {
        width: 400px;
        height: 400px;
    }
    .footer {
        width: 100%;
        height: 20%;
    }
    
   .music-player  h2 {
    font-size: 60px;}
    
   .music-player  p {
    font-size: 30px;
   }
}